* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

#partesuperior {
    height: 250px;
    background-color: #303030;
    color: white;
    padding: 50px;
}

#titulosuperior {
    margin-top: 50px;
    font-size: 45px;
}

#textosuperior {
    margin-top: 15px;
    font-size: 16px;
}

#menuinformacional {
    background-color: #F9F9F9;
    height: 10px;
    padding: 100px;
    display: grid;
    grid-auto-flow: column;
}

#menucentral {
    background-color: #FFF;
    padding: 50px;
    display: grid;
    grid-auto-flow: column;
}

#texto {
    margin-top: 200px;
    color: #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 20px;
    text-align:justify;
    width: 800px;
    
}

#img {
    width: 510px;
    height: 605px;
    flex-shrink: 0;
}

#parteinferior {
    background-color: #303030;
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-weight: 700;
    padding: 50px;
}

input{
    border-radius: 10px;
    background: #FFF;
    width: 408px;
    height: 42px;
    flex-shrink: 0;
    margin: 20px;
    padding-left: 10px;
    border: 0px;
}

button{
    background-color: #C07212;
    height:40px;
    Width:220px;
    color: aliceblue;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 25px;
}

button:hover{
    color: #FFF;
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px #d88520; 
}

#menucentral , p {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
}